<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RockLog Desktop</title>

    	 <!-- ExtJS CSS -->
    	 <link rel="stylesheet" type="text/css" href="/static/extjs/resources/css/ext-all.css">

    	 <!-- Custom CSS -->
    	 <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    	 <!-- ExtJS -->
         <script type="text/javascript" src="/static/extjs/bootstrap.js"></script>
    	 
    	 <script type="text/javascript">
            Ext.Loader.setConfig({
                enabled: true
            });
    	 </script>
    	 
    	 <!-- Application JS -->
    	 <script type="text/javascript" src="/static/RockLog/app/main.js"></script>
    	              	 
    </head>
    <body>
        <div class="welcome">Welcome to RockLog!</div>
    </body>
</html>